.swiper-slide {
  opacity: 0.4;
  transform: scale(0.90) !important;
  transition: all 0.3s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1) !important;
  z-index: 10 !important;
}
