@import "tailwindcss";

@theme inline {
  --font-grostek: var(--font-grostek);
  --font-grostek-italic: var(--font-italic-grostek);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-grostek);
}
